.DocumentCards {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.DocumentCardLink {
    margin-right: 20px;
    margin-bottom: 20px;
}

.DocumentCardLink:nth-child(3n) {
    margin-right: 0px;
}

@media (max-width: 1250px) {
    .DocumentCardLink:nth-child(3n) {
        margin-right: 20px;
    }

    .DocumentCardLink:nth-child(2n){
        margin-right: 0px;
    }
}

@media (max-width: 600px) {
    .DocumentCardLink:nth-child(2n){
        margin-right: 20px;
    }

    .DocumentCardLink {
        margin-right: 0px;
    }
}