.albumHeader {
    font-weight: 400;
    margin-top: 0;
    font-size: 1.2rem;
    color: #2d2d2d;
    // transition: .25s;
}

.albumHeader:hover {
    font-weight: 500;
}

.albumHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
    align-items: flex-start;
}