.CurrentEvents {
    margin-left: 30px;
    display: flex;
    justify-content: left;
}

.CurrentEventsContainer {
    width: 414px;
}

.eventsAfterThisWeek {
    margin-left: 30px;
}

@media (max-width: 1180px) {
    .CurrentEvents {
        display: inline;
    }

    .eventsAfterThisWeek {
        margin-left: 0px;
    }
}