@import '../../Common/Variables.scss';

.date-picker-calendar {
    border: none !important;
}

.date-picker {

    input, button {
        &:focus {
    
            outline: none;
        }
    }
    
    button {
        svg {
            stroke: $mustard-yellow !important;
        }
    }

    .date-icon {
        margin-top: 1px;
        height: 1em;
    }    

}

.react-date-picker__wrapper {
    font-family: 'Roboto';
    padding: 0.8em;
    border: none !important;
    background-color: #fff;
    font-weight: 300;
}