.doc-upload-cont {
    flex-direction: column;
    width: 20rem;
}

.document-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    outline: 0.3rem dashed #f0c900;
    width: 20rem;
    height: 28.28rem;
    background-size: cover;
    cursor: pointer;
}

.document-upload .upload-text{
    text-transform: uppercase;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 70;
}

.document-upload .upload-text::before {
    content: '+ ';
}

.doc-button-cont {
    flex: 1;
    text-align: center;
    padding: 1.5rem;
    opacity: 0;
}

.doc-button-cont.display {
    opacity: 1;
}