@import '../../Common/Variables.scss';

.react-time-picker__clock {
    border: none !important;
}

.time-picker {

    input, button {
        &:focus {
    
            outline: none;
        }
    }
    
    button {
        svg {
            stroke: $mustard-yellow !important;
        }
    }

    .time-icon {
        height: 1em;
    }   
    
    &.disabled {
        .react-time-picker__wrapper {
            opacity: 0.4;
        }
    }
    
}

.react-time-picker__wrapper {
    font-family: 'Roboto';
    padding: 0.8em;
    border: none !important;
    background-color: #fff;
    font-weight: 300;
}

.time-icon {
    height: em;
}
