.feed-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.feed-container {
    margin: 20px;

    .show-more {
        text-align: center;
        
        a {
            font-size: 18px;
        }
    }
}

.feed-container > h1 {
    margin-top: 160px;
}

@media (max-width: 800px) {
    .feed-cards {
        flex-direction: column;
    }
}
