.feed-container {
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - 90px);
    background-color: #f0f0f0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.feed-container h1 {
    padding: 20px;
    text-transform: uppercase;
}

.feed-cards {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    column-gap: 60px;
    row-gap: 60px;
}

@media (max-width: 800px) {
    
    .feed-cards {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .feed-container {
        padding-bottom: 20px;
    }
}