@import '../Common/Variables.scss';

.manageCommitteeHeader {
    padding-top: 40px;
    text-align: center;
}

.manageCommitteeTable {
    font-family: sans-serif;

    border: 1px solid rgba(0,0,0,0.16);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

    position: relative;
    border-collapse: collapse; 

    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.manageCommitteeTable > thead {
    position: sticky;
    top: 80px;
    background-color: $mustard-yellow;
}

.manageCommitteeTable > tbody > tr:nth-child(even) {
    background-color: $light-grey;
}

.manageCommitteeTable > thead > tr > th {
    padding: 10px;
}

.manageCommitteeTable > tbody > tr > td {
    padding: 10px;
}

.manageCommitteeTable > tbody > tr > td.icon {
    text-align: center;
}

.manageCommitteeTable .removeButton {
    border: none;
    background-color: transparent;
}

.manageCommitteeTable .removeButton:active {
    background-color: #f0f0f0;
}