.userCardTitle {
  color: #f0c900;
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
}

.userCardSubtitle {
    font-size: 0.8rem;
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.text-bg {
  background-color: #242424;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userCard {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
}

.userImage {
  width: 100%;
  background-size: cover;
  transition: all 0.7s;
  background-repeat: no-repeat;
  position: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.userCard:hover .userImage,
.userCard:focus .userImage {
  transform: scale(1.1);
}
.userCard:hover .userImage:before,
.userCard:focus .userImage:before {
  display: block;
}

.userImage:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.userCardBanner {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.userCardContent {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #f0c900;
  padding: 15px;
  padding-top: 5px;
  height: 70px;
}

.userCardBannerSubheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userCardIcon {
  padding: 5px;
}
