$scrollBorderRadius: 2px;

.ScrollableContainer {
    padding-top: 0px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: red;
    scrollbar-width: 50px;
}

.ScrollableContainer::-webkit-scrollbar {
    width: 11px;
}

.ScrollableContainer::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: $scrollBorderRadius;
}

.ScrollableContainer::-webkit-scrollbar-thumb {
    background: #f0c900;
    border-radius: $scrollBorderRadius;
}

.ScrollableContainer::-webkit-scrollbar-thumb:hover {
    background: #e7c100;
}