.mainMenu {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  background-color: white;
  position: fixed;
  top: 0;
  overflow-y: auto;
  max-height: 100%;
  z-index: 1000;
}

.icon {
  display: none;
  line-height: 80px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.icon.responsiveIcon {
  display: block;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.expandButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.logoContainer {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  height: 60px;
  object-fit: contain;
}

.buttonsContainer {
  display: none;
  flex-direction: column;
  width: 100%;
}

.buttonsContainer.menuExpanded {
  display: flex;
}

.button {
  height: 100%;
  line-height: 80px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: black;
  cursor: pointer;
}

.localeButton {
  font-weight: bold;
}

.buttonTitle {
  padding-left: 45px;
  padding-right: 45px;
}

.buttonDropdown {
  display: none;
  background-color: #f0f0f0;
  list-style: none;
}

.subMenuExpanded {
  display: block;
}

.subMenuExpanded > a > .buttonTitle {
  color: #f0c900;
  box-shadow: inset 0 -5px 0 #f0c900;
}

.buttonDropdownItem {
  padding: 10px 5px 10px 60px;
  text-align: left;
  line-height: 2rem;
  text-transform: none;
}

.buttonDropdownItem:hover {
  background-color: #f0f0f0;
}

.iconContainer {
  display: flex;
  flex-direction: row;
}

.content {
  margin-top: 80px;
}

@media screen and (min-width: 960px) {
  .expandButton {
    display: none;
  }

  .buttonDropdown {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    clip-path: inset(0px -10px -10px -10px);
  }

  .buttonDropdown.subMenuExpanded {
    display: none;
  }

  .subMenuExpanded > a > .buttonTitle {
    color: unset;
    box-shadow: none;
  }

  .button:hover .buttonDropdown {
    display: block;
    background-color: white;
    color: black;
  }

  .buttonsContainer > .button:hover, .icon:hover {
    color: #f0c900;
    box-shadow: inset 0 -5px 0 #f0c900;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    width: unset;
    margin-right: 20px;
  }

  .mainMenu {
    height: 80px;
    flex-wrap: none;
    overflow-y: visible;
  }

  .buttonDropdownItem {
    padding: 10px 5px 10px 5px;
    text-align: center;
  }

  .icon {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .icon.responsiveIcon {
    display: none;
  }
}