.ply-cont {
    display: flex; 
    justify-content: center;
    background-color: #f0f0f0;
    height: calc(100vh - 90px);
}

.playground-cont {
    width: 50%;
}

.playground {
    display: flex;
    flex-direction: column;
}

.playground h1 {
    text-align: center;
    padding: 2rem;
}

.upload-doc {
    padding-right: 2rem;
}