.swiper-container {
    width: 100%;
    margin-left: 0;
}

.swiper-wrapper {
    width: 50%;
}

.swiper-slide {
    text-align: center;
    width: auto;
}

.img-fluid {
    height: 200px;
    width: auto;
}

.img-fluid:hover {
    opacity: 0.75;
}

.swiper-slide {
    height:auto !important;
    cursor: pointer;
}

.swiper-button-prev, .swiper-button-next {
    width: 4em;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translateY(-41%);
    z-index: 9999;
    color: #fff;
    transition: .3s;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background: rgba(100, 100, 100, 0.75);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}
