.img-fluid {
    width:100%;
    height:auto;
    max-height: 200px;
    max-width: 600px;
}

.swiper-wrapper {
    height: auto !important;
}

.swiper-slide {
    height:auto !important;
}

.swiper-button-prev, .swiper-button-next {
    width: 4em;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translateY(-40%);
    z-index: 9999;
    color: #fff;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}
