/* styling for all input and field elements */
.field {
  position: relative;
  font-family: "Roboto", sans-serif;
  margin: 25px;
  color: #555555;
  width: 30vw;
}
input:focus {
  outline: none;
}
input[type="number"]:hover ~ input[title] input {
  width: 100%;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}
input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

/* 
.inputURL:focus + .URLfloating-label {
  position: absolute;
  transition: all 200ms;
  margin-top: -20px;
  pointer-events: none;
}

.inputURL:not(:placeholder-shown) + .URLfloating-label {
  position: absolute;
  transition: all 200ms;
  margin-top: -20px;
  pointer-events: none;
}
.URLfloating-label {
  position: absolute;
  pointer-events: none;
  transition: all 200ms;
  left: 0px;
}

.inputURL:focus {
  border-bottom-color: rgb(32, 32, 32);
  transition: 0.2s ease all;
} */

/* .URLinput-non-req:invalid {
  border-bottom-color: green;
} */

/* .URLinput-non-req:not(:placeholder-shown) {
  border-bottom-color: blue;
} */

/* .URLinput-non-req:invalid {
  border-bottom-color: red;
} */
