.Gallery {
    display: flex;
    flex-direction: column;
}

.Gallery h3 {
    margin-top: 0px;
    padding-top: 0px;
}

.galleryContent {
    width: 100%;
}

.galleryContainer {
    display: flex;
    width: 80%;
    margin: 30px auto 40px auto;
}

@media (max-width: 800px) {
    .galleryHeader {
        padding: 0.5em 0 0 0;
    }
    .galleryContent {
        padding-left: 0;
        padding: 0 1em 0 1em;
    }
}