.secHeader {
    font-family: 'Roboto';
    font-weight: 300;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    clear: both;
}

.contentContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.contentContainer h4 {
    font-family: Roboto;
    font-weight: 300;
    padding-left: 20px;
    padding-bottom: 5px;
}

.FilterButton {
    display: none;
}

/* .FilterBox {
    display: block;
    width: 100%;
} */



@media (max-width: 730px) {
    .contentContainer {
        display: grid;
        grid-template-columns: 414px;
    }

    .FilterButton {
        display: inline;
        width: 205px;
        margin: 0 auto 20px auto;
    }

    .FilterBox {
        display: none;
    }

    .eventDisplay {
        display: block;
        clear: both;
        margin-left: 0 !important;
    }

    .eventDisplay h4 {
        text-align: center;
    }
}