.CommitteeCard {
    padding: 10px 10px 5px 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all .31s ease-in-out;
    transition: 0.5s;
}

.CommitteeCard:hover {
    transform: scale(1.12);
}

.CommitteeCard:hover:before {
    opacity: 100%;
}

.CommitteeCard img {
    height: 100px;
    margin-bottom: 10px;
    width: auto;
}

.CommitteeCard p {
    /* text-transform: uppercase; */
    clear: both;
}

