.mediaType {
    margin-top: 5px;
}

.sideMenu, .sideMenuModal  {
    width: 250px;
    // height: 230px !important;
}

.sideMenu {
    transition: .3s;
    margin-top: 5px;
}

@media (max-width: 950px) {
    .sideMenu {
        display: none !important;
    }
}

// Tooltip
// .tooltipGrid {
//     position: relative;
// }

.tooltipGrid span, .tooltipList span {
    opacity: 0;
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    top: -43px;
    transition: .2s;
    cursor: default;
    user-select: none;
}

// .tooltipGrid span {
//     margin-left: -74px;
// }

// .tooltipList span {
//     margin-left: -46px;
// }

// .tooltipGrid span::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 70%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: #fff transparent transparent transparent;
// }

// .tooltipGrid img:hover + span {
//     opacity: 1;
// }

// .tooltipList {
//     position: relative;
// }

// .tooltipList span::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 45%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: #fff transparent transparent transparent;
// }

// .tooltipList img:hover + span {
//     opacity: 1;
// }

// Tooltip-end

.viewSelected {
    float: left;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .viewSelected {
        display: none;
    }
}

.createCardsViewLogo {
    border: 2px solid #909090;
    // background-color: #f0f0f0;
    border-radius: 1px;
    height: 27px;
    cursor: pointer;
    transition: .3s;
    padding: 5px;
}

.createCardsViewLogoSelected {
    border: 2px solid #f0c900;
    // background-color: #f0f0f0;
    border-radius: 1px;
    height: 27px;
    transition: .2s;
    padding: 5px;
}

.createListViewLogo {
    border: 2px solid #909090;
    // background-color: #f0f0f0;
    border-radius: 1px;
    height: 27px;
    cursor: pointer;
    transition: .2s;
    padding: 5px;
}

.createListViewLogoSelected {
    height: 27px;
    border: 2px solid #f0c900;
    border-radius: 1px;
    // background-color: #f0f0f0;
    height: 27px;
    transition: .2s;
    padding: 5px;
}

.createListViewLogo:hover, .createCardsViewLogo:hover {
    background-color: rgb(220, 220, 220);
}

.sortByStyle {
    width: 190px;
    margin-right: 15px;
    float: left;
}

.dropdownFilterStyle {
    position: relative;
    z-index: 5;
    width: 135px;
    float: left;
    margin-right: 35px;
}