.formContainer {
    border: 2px solid #f0c900;
    padding: 15px;
    padding-top: 0px;
    border-radius: 5px;
    margin: 20px auto;
    width: 20%;
    font-family: sans-serif;
    text-align: center;
}

.formContainer input {
    width: 80%;
    margin-bottom: 15px;
}

.formContainer div {
}

.submitButton {
    padding: 10px;
    border: 2px solid #f0c900;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
}

.submitButton:hover {
    background-color: #ececec;
}