.Button {
    padding: 1px 5px;
    background-color: #ff7373;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    height: fit-content;
}

.Button span {
    color: #fff;
    font-weight: 400;
}

.Button:hover {
    background-color: #ff3737;
}