.preview-img {
    max-width: 20rem;
    max-height: 20rem;
    display: block;
}
.previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}


.preview {
    /* width: 10rem;
    height: 10rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
}

.img-title {
    text-overflow: ellipsis;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
}
.upload-container {
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - 90px);
    background-color: #f0f0f0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.title-input {
    text-align: center;
    border: none;
    background-color: inherit;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.desc-input {
    margin-bottom: 2rem;
    text-align: center;
    border:none;
    background-color: inherit;
    width: 50%;
    display: block;
}

.upload-button {
    cursor: pointer;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
    background-color: #f0c900;
    color: #000;
    border-radius: 40px;
    padding: 0.8rem 4.5rem;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    margin-top: 5rem;
    display: block;
    text-align: center;

}
.upload-button:hover {
    background-color: inherit;
    box-shadow:inset 0px 0px 0px 2px  #f0c900
}

.info-container {
    display: flex;
    justify-content: space-between;
}

/* .preview {
    display: flex;
    flex: 1;
    border: 2px dashed #f0c900;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    transition: .2s;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
} */

.yellow-image-upload {
    display: flex;
    flex: 1;
    border: 2px dashed #f0c900;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    transition: .2s;
    min-width: 10rem;
}

.yellow-image-upload input[type=file] {
    display: none;
    margin-bottom: 2rem;
    max-width: 20rem;
}

.yellow-image-upload label {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    min-height: 10em;
}
.cancel-img-upload {
    position: absolute;
    cursor: pointer;
    right: 10%;
    top: 0.1em;
    z-index: 1;
}
.input-container {
    margin-left: 1rem;
}
.date-container {
    width: 100%;
    justify-content: flex-start;
}

.date-picker {
    margin-left: 2rem;
}
.date-includer {
    margin-left: 1rem;
    display: flex;
}