.text-header {
    color: #f0c900;
    font-family: halyard-display, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.text-subheader {
    color: #fff;
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userCard {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.userImage {
    width: 100%;
}

.userCardBanner {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.userCardContent {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.userCardBannerHeader {
    font-size: 24px;
}

.userCardBannerSubheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userCardSubtitle {
    font-size: 14px;
}

.socialmediaIcon {
  width: 25px;
  padding: 2px;
}
