.banner {
  background-color: #f0c900;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner > a {
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  padding: 10px;
}