.notFoundContainer {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.notFoundContainer > .createNewPageButton {
    padding-bottom: 3px;
    font-size: 16px;
    border-bottom: 2px solid #f0c900;
    font-family: Roboto, sans-serif;
    transition: color 0.2s ease-in-out;
    color: black;
    cursor: pointer;
}

.notFoundContainer > .createNewPageButton:hover {
    color: #545454;
}