* {
    margin: 0;
    padding: 0;
    color: #0f0f0f;
}

h2 {
    text-align: left;
    font-weight: 400;
}

.bottom-border {
    border-bottom: 1px #0f0f0f solid;
    margin: 0px 20px;
}

.header-row {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 5px;
}

.header-row h2 {
    padding: 10px 0px;
}


.flex-container-1 {
    display: flex;
}

.main {
    flex: 91%;
}

.document-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.categories-list {
    padding: 10px 20px;
    flex: 9%;
    border-right: 1px #0f0f0f solid;
}

.container input {
    padding-left: 100px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    text-decoration: none;
    display: block;  
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    margin-top: 3px;
  }

.container {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
}

.checkButtonShowCat {
    width: 45%;
    padding: 2px 5px 5px 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #f0c900;
    cursor: pointer;
    text-align: center;
    color: #1f1f1f;
    user-select: none;
}

.checkButtonShowCat:hover {
    background-color: #b39502;
}

.checkButtonClearCat {
    width: 45%;
    padding: 2px 5px 5px 5px;
    margin-bottom: 10px;
    background-color: #c23535;
    cursor: pointer;
    text-align: center;
    color: #f1f1f1;
    user-select: none;
}

.checkButtonClearCat:hover {
    background-color: #a72222;
}


.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #f0c900;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 0.5px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.categories-list h2 {
    padding-bottom: 10px;
}

.doc-cards {
    margin: 20px;
    padding: 10px;
    width: 165px;
    height: 220px;
    border: #f0c900 dashed 2px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: left;
    cursor:pointer;
    position: relative;
}

.doc-cards div {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.doc-cards p {
    color: #a0a0a0;
}

.doc-cards h2 {
    font-weight: 100;
}

.doc-cards:hover {
    background-color: #e0e0e0;
}

.users-only-cards:hover {
    background-color: #d4b100;
}

.categories-list form {
    text-align: left;
}

.categories-list input {
    margin-right: 5px;
}

.hide-card {
    display: none;
}

.users-only-category {
    color: #f0c900;
    font-weight: 400;
}

.not-bold {
    font-weight: 400;
}

.logo-style {
    height: 30px;
    cursor: pointer;
}

.text-items-in-right-header {
    margin-left: 5px;
}

.doc-list h3 {
    text-align: left;
    margin-left: 10px;
}

.doc-list table {
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
    width: 1100px;
    border-collapse: separate; 
    border-spacing: 0 0px;
}

.doc-list thead th:hover {
    color: #525252;
}

.doc-list tr {
    line-height: 35px;
}

.doc-list tbody tr:nth-child(odd) {
    background: #c4c4c434;
}

.doc-list tbody tr:hover {
    background-color: #f0c900;
    cursor: pointer;
}

.doc-list th img {
    width: 12px;
}

.cat-param {
    cursor: pointer;
    user-select: none;
}

.right-header img {
    cursor: pointer;
}

.text-items-in-right-header select {
    margin-left: 5px;
}

#searchDoc {
    background-image: url('./Search-logo.svg');
    background-position: 1px 0px;
    background-repeat: no-repeat;
    font-size: 13px;
    padding: 5px 20px 5px 35px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 4px;
    margin-right: 5px;
    outline: none;
}

.sortByStyledBox {
    font-size: 16px;
    width: 175px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid rgba(160, 160, 160, 0.5);
    border-bottom: 1px solid rgb(160, 160, 160, 0.5);
    cursor: default;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderByStyledBox {
    width: 100px;
}

.sortByStyledBoxContainer {
    position: relative;
    display: inline-block;
}

.dropdown-content-cats {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.dropdown-content-order {
    display: none;
    position: absolute;
    right: 1px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content-order p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;    
}

.dropdown-content-order p:hover {
    background-color: #f0c900;
    user-select: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content p:hover {
    background-color: #f0c900;
    user-select: none;
    cursor: pointer;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-content-order{
    display: block;
}

.dropdown:hover .dropdown-content-cats {
    display: block;
}

.dropdown img {
    transition: 1s;
}

.dropdown:hover img {
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.sortByStyledBox img {
    position: relative;
    right: 0px;
    top: 0px;
    width: 16px;
}

.create-cards-view-logo {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    margin-right: 5px;
    transition: .3s;
}

.create-cards-view-logo-selected {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    background-color: #f0c900;
    margin-right: 5px;
    cursor: default;
    transition: .3s;
}

.create-cards-view-logo:hover {
    background-color: #ccc;
}

.create-cards-view-logo:hover .small-square {
    border: 1.25px solid #fff;
}

.small-square {
    border: 1.25px solid #1f1f1f;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-top: 3px;
    transition: .3s;
}

.small-square-selected {
    border: 1.25px solid #fff;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-top: 3px;
    transition: .3s;
}

.bullet {
    width: 2px;
    height: 2px;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    margin-left: 3px;
    margin-top: 4.5px;
    border-radius: 50%;
    transition: .3s;
}

.bullet-selected {
    width: 2px;
    height: 2px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-left: 3px;
    margin-top: 4.5px;
    border-radius: 50%;
    transition: .3s;
}

.anonymus-text {
    width: 16px;
    height: 1px;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    margin-left: 2px;
    margin-top: 5px;
    border-radius: 10px;
    transition: .3s;
}

.anonymus-text-selected {
    width: 16px;
    height: 1px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-left: 2px;
    margin-top: 5px;
    border-radius: 10px;
    transition: .3s;
}

.create-list-view-logo {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    transition: .3s;
}

.create-list-view-logo-selected {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: #f0c900;
    cursor: default;
    transition: .3s;
}

.create-list-view-logo:hover {
    background-color: #ccc;
}

.create-list-view-logo:hover .bullet {
    background-color: #fff;
    border: 1px solid #fff;
}


.create-list-view-logo:hover .anonymus-text {
    background-color: #fff;
    border: 1px solid #fff;
}


.bullet-row {
    display: flex;
}

.view-selected {
    display: flex;
}

.arrow-down {
    border: solid #ccc;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 5px;
}

.arrow-down-selected {
    border: solid #f0c900;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 5px;
}

.arrow-up {
    border: solid #ccc;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: 5px;
}

.arrow-up-selected {
    border: solid #f0c900;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: 5px;
}

.download-btn-circle {
    width: 25px;
    height: 25px;
    border: 2px solid #1f1f1f;
    border-radius: 50%;
    position: relative;
    transition: .3s;
}

.download-btn-arrow {
    border: solid #1f1f1f;
    position: absolute;
    left: 7px;
    top: 5px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .3s;
}

.download-btn-circle:hover {
    border-color: #fff;
}

.download-btn-circle:hover .download-btn-arrow{
    border-color: #fff;
}