.feedbackButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: white;
    color: #545454;
    border: 1px solid rgba(0,0,0,0.16);
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
    padding: 7px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.feedbackButton:hover {
    transform: scale(1.05);
}

.feedbackButton:active {
    color: #545454;
    transform: scale(0.95);
}