.profile-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 50% 50%;
    margin: 2rem 0;
    font-family: sans-serif;
}

.info-container {
    margin: 2rem;
}
.pictureContainer {
    margin: 2rem;
}

.edit-button {
    padding: 10px;
    border: 2px solid #f0c900;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    font-family: sans-serif;
}

.submitButton {
    padding: 10px;
    border: 2px solid #f0c900;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    font-family: sans-serif;
}

.input-req, .input-not-req, .inputURL {
    width: 80%;
    margin-bottom: 1rem;
}

