python-dotenv
python-dateutil
cryptography
python-jose[cryptography]
sqlalchemy
fastapi 
uvicorn
msgspec
pydantic
pydantic-settings
sqlmodel
authlib
unidecode
gunicorn
psycopg2
itsdangerous
google-cloud-storage
google-cloud-scheduler
google-cloud-pubsub
google-cloud-tasks
pywebpush
rich