.base-page.editorIsEditing .ql-toolbar.ql-snow {
    display: block;
}

.base-page {
    .ql-editor {
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        font-size: medium !important;
    }

    .ql-container.ql-snow {
        border: 0 !important;
    }

    .ql-toolbar.ql-snow {
        background-color: white;
        z-index: 1000;
        display: none;
    }

    .ql-editor p {
        margin-top: 1em !important;
        margin-bottom: 1em !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .ql-editor a {
        transition: border 0.2s ease-in-out;
        border-bottom: solid 0px #f0c900;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        color: black !important;
        text-decoration: none;
    }
    
    .ql-editor a:hover {
        border-bottom: solid 3px #f0c900;
    }

    .ql-editor h1 {
        font-size: 2.5rem !important;
        text-align: center;
        font-weight: 350;
        letter-spacing: 2px;
    }
 
    .ql-editor h2 {
        font-size: 2rem !important;
        text-align: center;
    }

    .ql-editor h3 {
        font-size: 1.6rem !important;
    }

    .ql-editor h4 {
        font-size: 1.2rem;
    }
}
