.pageContainer {
    margin: 100px 10px 0 10px;
    padding: 10px 20px 10px 20px;
    background-color: white;
}

@media screen and (min-width: 500px) {
    .pageContainer {
        margin: 100px 50px 0 50px;
        padding: 10px 20px 10px 20px;
    }
}