.pageContainer {
    margin: 110px 10px 40px 10px;
    background-color: white;
}

.pageContent {
    padding: 30px 30px 30px 30px;
}

@media screen and (min-width: 800px) {
    .pageContainer {
        margin: 110px auto 40px auto;
        max-width: 820px;
    }
}

.pageImage {
    width: 100%;
}