.pageEditButton {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: fixed;
    background-color: white;
    top: 120px;
    right: 20px;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    z-index: 11;
}

.pageEditButton.pageEditImageButton {
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.pageEditButton.pageEditImageButton svg {
    display: block;
    margin: auto;
}

.pageEditButton.pageRemoveImageButton {
    position: absolute;
    top: 73px;
    left: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    z-index: 10;
}

#imageHeaderUpload {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.pageEditButton:hover {
    background-color: #f0f0f0;
}

.pageEditButton:active {
    transform: scale(0.9);
}

.pageContainer {
    position: relative;
    margin: 0 10px 40px 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.16);
}

.pageTitle {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
}

.pageContent {
    padding: 30px 30px 30px 30px;
}
.committeePageLogoContainer {
    transform: translateY(-30%);
    margin-bottom: -40px;
    width: 100px;
    height: 100px;
    border: 3px solid #f0c900;
    border-radius: 50%;
    padding: 25px;
    overflow: hidden;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.committeePageLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (min-width: 970px) {
    .pageEditButton {
        top: 110px;
    }

    .pageContainer {
        margin: 0 auto 40px auto;
        max-width: 950px;
    }
}

.pageImageContainer {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.pageImage {
    width: 100%;
}