.backButton {
    border: 0;
    padding: 0;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    color: #a2a2a2;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.backButton:hover {
    color: black;
}