.Publish {
    margin: 5px auto;
    padding: 10px;
    clear: both;
    border-radius: 5px;
    font-family: sans-serif;
}


.Publish p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
    color: #2D2D2D;
    font-family: Roboto;
}

.Publish button {
    border-radius: 40px;
    border: 2px solid #f0c900;
    background-color: #f0c900;
    padding: 10px;
    width: 175px;
    display: block;
    margin: 30px auto;
    transition: .25s;
    font-family: Roboto;
    font-weight: 300;
}

.Publish button:focus {
    outline: 0;
}

.Publish button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.categoriesTags {
    display: flex;
    flex-wrap: wrap;
}

.container input {
    padding-left: 100px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    text-decoration: none;
    display: block;  
}

.container {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 40%;
    margin-right: 15px;
    font-size: 15px;
    user-select: none;
    align-items: center;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #f0c900;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 0.5px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    margin-top: 3px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.formContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: gray; */
}

.leftFormContainer {
    width: 300px;
}

.leftFormContainer div {
    margin-left: 0;
}

.leftFormContainer p {
    margin-left: 19px;
}

.rightFormContainer {
    margin-top: 10px;
    margin-left: 20px;
}

@media (max-width: 531px) {
    .Publish {
        margin-top: -30px;
    }

    .rightFormContainer {
        margin-top: 20px;
        margin-left: 0;
    }
}