.AdminTools {
    display: flex;
    flex-direction: column;
}

.adminContainer {
    width: 80%;
    margin: 30px auto 40px auto;
    display: flex;
    box-sizing: border-box;
}

.adminContent {
    // background-color: blue;
}

.sideMenu {
    
}