.container input {
    padding-left: 100px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    text-decoration: none;
    display: block;  
}

.container {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    align-items: center;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #f0c900;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 0.5px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    margin-top: 3px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkButtonClearCat {
    width: 45%;
    padding: 2px 5px 5px 5px;
    margin-bottom: 10px;
    background-color: #c23535;
    cursor: pointer;
    text-align: center;
    color: #f1f1f1;
    user-select: none;
}

.checkButtonClearCat:hover {
    background-color: #a72222;
}

.buttonContainer {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}