.darkButton, .lightButton {
    font-size: 10px;
    transition: .35s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 18px;
    cursor: pointer;
}

.darkButton {
    color: #2d2d2d;
    background-color: #dadada;
    border: 2px solid #2d2d2d;
}

.lightButton {
    color: #2d2d2d;
    background-color: #fff;
    border: 2px solid #f0c900;
}

.darkButton:hover, .lightButton:hover {
    transform: scale(1.1);
}

.darkButton:hover {
    background-color: #2d2d2d;
    color: #f0c900;
}

.lightButton:hover {
    background-color:#f0c900;
}

