.DocumentList h3 {
    text-align: left;
    margin-left: 10px;
}

.DocumentList table {
    margin: 10px auto;
    text-align: left;
    width: 80%;
    border-collapse: separate; 
    border-spacing: 0 0px;
}

.DocumentList tr {
    line-height: 10px;
    font-family: 'Roboto';
    font-weight: 300;
    width: 100%;
}

.DocumentList tr td {
    border-bottom: 5px solid #f0f0f0;
    border-top: 5px solid #f0f0f0;
    border-left: 0;
    border-right: 0;
    background-color: #fff;
    transition: .2s;
}

.DocumentList tbody tr:hover td{
    /* border-bottom: 3px solid #f0c900; */
    cursor: pointer;
    /* background-color: #dadada; */
    color: #fff;
    background-color: #f0c900;
}

.DocumentList th {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #c4c4c4;
    padding-left: 15px;
    padding-bottom: 10px;
}

.DocumentList td a { 
    display: block; 
    padding: 7px 15px; 
 }