.buttonContainer {
    width: 100%;
    margin-top: -20px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.notSelected {
    float: left;
    width: 50%;
    font-size: 25px;
    padding: 15px 0;
    background-color: white;
    cursor: pointer;
    font-family: sans-serif;
}

.notSelected:hover {
    background-color: rgb(243, 243, 243);
}

.selected {
    float: left;
    width: 50%;
    display: inline-block;
    font-size: 25px;
    padding: 15px 0;
    user-select: none;
    cursor: not-allowed;
    font-family: sans-serif;
    border-bottom: 5px solid #f0c900;
}