.RoundedButton {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border: none;
    color: #000;
    border-top: 0px solid transparent;
    border-bottom: 0px solid #f0c80000;
    outline: none;
    transition: border 0.2s ease-in-out;
    background-color: transparent;
    font-weight: 500;
    height: 30px;
}

.RoundedButton:hover {
    border-top: 3px solid transparent;
    border-bottom: 3px solid #f0c900;
}