.sortByStyledBoxContainer {
    display: inline-block;
}

.dropdownContentCats {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.dropdownContentCatsFixed {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.dropdownContentOrder {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.dropdownContentOrder p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;    
}

.dropdownContentOrder p:hover {
    background-color: #f0c900;
    user-select: none;
    cursor: pointer;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }

.dropdownContent p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdownContent p:hover {
    background-color: #f0c900;
    user-select: none;
    cursor: pointer;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.dropdown:hover .dropdownContentOrder{
    display: block;
}

.dropdown:hover .dropdownContentCats {
    display: block;
}

.dropdown:hover .dropdownContentCatsFixed {
    display: block;
}

.dropdown img {
    transition: 1s;
}

.dropdown:hover img {
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.sortByStyledBox {
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    border-top: 1px solid rgba(160, 160, 160, 0.5);
    border-bottom: 1px solid rgb(160, 160, 160, 0.5);
    cursor: default;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sortByStyledBox img {
    position: relative;
    right: 0px;
    top: 0px;
    width: 16px;
    margin-left: 5px;
}