* {
    margin: 0;
    padding: 0;
}

h3 {
    margin-left: 0;
}

.bottomBorder {
    border-bottom: 1px #0f0f0f solid;
    margin: 0px 20px;
}

.headerRow {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 5px;
}

.headerRow h2 {
    padding: 10px 0px;
}


.firstFlexContainer {
    display: flex;
    font-family: sans-serif;
    clear: both;
}

.main {
    flex: 91%;
}

.categoriesList {
    padding: 10px 20px;
    flex: 9%;
    border-right: 1px #0f0f0f solid;
}

.checkButtonShowCat {
    width: 45%;
    padding: 2px 5px 5px 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #f0c900;
    cursor: pointer;
    text-align: center;
    color: #1f1f1f;
    user-select: none;
}

.checkButtonShowCat:hover {
    background-color: #b39502;
}

.categoriesList h2 {
    padding-bottom: 10px;
}

.usersOnlyCards:hover {
    background-color: #d4b100;
}

.categoriesList form {
    text-align: left;
}

.categoriesList input {
    margin-right: 5px;
}

.hideCard {
    display: none;
}

.usersOnlyCategory {
    color: #f0c900;
    font-weight: 400;
}

.notBold {
    font-weight: 400;
}

.logoStyle {
    height: 30px;
    cursor: pointer;
}

.rightHeader img {
    cursor: pointer;
}

.textItemsInRightHeader select {
    margin-left: 5px;
}

.searchDoc {
    background-image: url('../Assets/Search-logo.svg');
    background-position: 1px 0px;
    background-repeat: no-repeat;
    font-size: 13px;
    padding: 5px 20px 5px 35px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 4px;
    margin-right: 5px;
    outline: none;
}

@media (max-width: 775px) and (min-width: 551px) {
    .searchDoc {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}

@media (max-width: 550px) and (min-width: 388px) {
    .searchDoc {
        width: 125px;
        margin-left: 0;
        margin-top: 10px;
        clear: both;
    }
}

@media (max-width: 387px) {
    .searchDoc {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}

.createCardsViewLogo {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    margin-right: 5px;
    transition: .3s;
}

.createCardsViewLogoSelected {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    background-color: #f0c900;
    margin-right: 5px;
    cursor: default;
    transition: .3s;
}

.createCardsViewLogo:hover {
    background-color: #ccc;
}

.createCardsViewLogo:hover .smallSquare {
    border: 1.25px solid #fff;
}

.smallSquare {
    border: 1.25px solid #1f1f1f;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-top: 3px;
    transition: .3s;
}

.smallSquareSelected {
    border: 1.25px solid #fff;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    margin-top: 3px;
    transition: .3s;
}

.bullet {
    width: 2px;
    height: 2px;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    margin-left: 3px;
    margin-top: 4.5px;
    border-radius: 50%;
    transition: .3s;
}

.bulletSelected {
    width: 2px;
    height: 2px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-left: 3px;
    margin-top: 4.5px;
    border-radius: 50%;
    transition: .3s;
}

.anonymusText {
    width: 16px;
    height: 1px;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    margin-left: 2px;
    margin-top: 5px;
    border-radius: 10px;
    transition: .3s;
}

.anonymusTextSelected {
    width: 16px;
    height: 1px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-left: 2px;
    margin-top: 5px;
    border-radius: 10px;
    transition: .3s;
}

.createListViewLogo {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    transition: .3s;
}

.createListViewLogoSelected {
    border: 1.25px solid #1f1f1f;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: #f0c900;
    cursor: default;
    transition: .3s;
}

.createListViewLogo:hover {
    background-color: #ccc;
}

.createListViewLogo:hover .bullet {
    background-color: #fff;
    border: 1px solid #fff;
}


.createListViewLogo:hover .anonymusText {
    background-color: #fff;
    border: 1px solid #fff;
}

@media (max-width: 845px) and (min-width: 776px){
    .createListViewLogo {
        display: none;
    }

    .createListViewLogoSelected {
        display: none;
    }

    .createCardsViewLogo {
        display: none;
    }

    .createCardsViewLogoSelected {
        display: none;
    }
}

@media (max-width: 775px) and (min-width: 551px) {
    .createListViewLogo {
        display: none;
    }

    .createListViewLogoSelected {
        display: none;
    }

    .headerRow {
        flex-wrap: wrap;
        justify-content: left;
    }

    .dropdownFilterStyle {
        position: absolute;
        right: 10px;
    }

    .textItemsInRightHeader {
        margin-left: -3px;
    }
}

@media (max-width: 550px) and (min-width: 450px) {
    .dropdownFilterStyle {
        position: absolute;
        right: 10px;
        top: 105px;
    }

    .textItemsInRightHeader {
        width: 100%;
    }

    .headerRow {
        flex-wrap: wrap;
        justify-content: left;
    }

    .sortByStyle {
        margin-right: 5px;
    }
    
    .sortOrderStyle {
        float: right;
    }
}

@media (max-width: 450px) and (min-width: 388px) {
    .dropdownFilterStyle {
        position: absolute;
        right: 10px;
        top: 105px;
    }

    .headerRow {
        flex-wrap: wrap;
        justify-content: left;
    }

    .textItemsInRightHeader {
        width: 100%;
    }

    .sortOrderStyle {
        float: right;
    }
}

@media (max-width: 387px) {

    .headerRow {
        flex-wrap: wrap;
        justify-content: left;
    }

    .textItemsInRightHeader {
        width: 100%;
    }

    .sortOrderStyle {
        margin-bottom: 10px;
    }
    
    .sortByStyle {
        margin-bottom: 10px;
    }
}

.bulletRow {
    display: flex;
}

.viewSelected {
    display: flex;
}

.sortByStyle {
    float: left;
    width: 180px;
    margin-right: 10px;
}

.dropdownFilterStyle {
    width: 135px;
}

.sortOrderStyle {
    width: 140px;
}