#userFormContainer {
  position: relative;
  margin: auto;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  /* font-weight: 600; */

  /* display: flex; */

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 17px;
}
.userFormContainerHeader {
  padding: 17px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

/*animations for input field*/
/*-----------------------------*/
/* styling for all input and field elements */
.field {
  position: relative;
  font-family: "Roboto", sans-serif;
  margin: 30px;
  color: #555555;
}
input:focus {
  outline: none;
}

/* required inputs styling for moving '.floating-label' up */
/* ------------------------------------------------ */

.input-req:not(:focus):valid ~ .floating-label-req {
  top: -17px;
  bottom: 12px;
  left: 0px;
  /* opacity: 1; */
  /* font-size: 22; */
  /* font-weight: bold; */
}

.input-req:focus ~ .floating-label-req {
  top: -17px;
  bottom: 12px;
  left: 0px;
  /* opacity: 1; */
}

.floating-label-req {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 0px;
  text-transform: uppercase;
  transition: 0.2s ease all;
  color: #555555;
}

/* ------------------------------------- */
/* non required inputs */
.floating-label-non-req {
  left: 0;
}

input + .floating-label-non-req {
  position: absolute;
  transition: all 200ms;
  margin-top: -20px;
  pointer-events: none;
}

input:placeholder-shown + .floating-label-non-req {
  margin-top: 0%;
}

.input-not-req:focus + .floating-label-non-req {
  position: absolute;
  transition: all 200ms;
  margin-top: -20px;
  pointer-events: none;
}

.submitButton {
  margin-left: 10px;
  margin-top: 6px;
  border-radius: 7px;
  padding: 5px;
  border: 1 px solid;
}
/* --------------------------- */
/* styling for URL inputs */
.inputURL:focus + .URLfloating-label {
  position: absolute;
  transition: all 200ms;
  /* margin-left: -160px; */
  margin-top: -20px;
  pointer-events: none;
}

.inputURL:not(:placeholder-shown) + .URLfloating-label {
  position: absolute;
  transition: all 200ms;
  /* margin-left: -160px; */
  margin-top: -20px;
  pointer-events: none;
}
.URLfloating-label {
  position: absolute;
  pointer-events: none;
  transition: all 200ms;
  left: 0px;
}

/* ----------------------------- */
/* animation for line under input */
input {
  width: 100%;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.3s;
}
input:focus ~ .focus-border {
  width: 100%;
  transition: 0.3s;
  left: 0;
}
