.docCards {
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 3px;
    text-align: left;
    cursor: pointer;
    background-color: white;
    transition: all .25s ease-in-out;
    width: 210px;
    margin-top: 5px;
    height: 311px;
    overflow: hidden;
}


.docCards img {
    transform: scale(1.15);
}

.docCards h4 {
	font-size: 20px;
    font-weight: 550;
    text-transform: none;
    padding: 0;
}

.cardContainer h5 {
    color: #a8a8a8;
    padding-left: 17px;
    text-transform: uppercase;
    font-size: 12px;
}

.docCards h3 {
    margin-left: -1px;
}

.docCards p {
    color: #a0a0a0;
    font-size: 12px;
}

.docCards:hover {
    border: 2px solid #f0c900;
    transform: scale(1.02);
}