.docCards {
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 3px;
    text-align: left;
    cursor:pointer;
    background-color: white;
    transition: all .35s ease-in-out;
    width: 210px;
    margin: 5px 25px 25px 25px;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    height: 311px;
    overflow: hidden;
}

.docCards img {
    transform: scale(1.15);
}

h4 {
	font-size: 20px;
    font-weight: 550;
    text-transform: none;
}


h5 {
    color: #c7c7c7;
    padding-left: 42px;
    text-transform: uppercase;
    font-size: 12px;
}


@media (max-width: 908px) and (min-width: 736px) {
    .docCards {
        width: 30%;
        text-align: center;
    }

    .textContent {
        margin: 0 auto;
    }
}

@media (max-width: 735px) and (min-width: 651px) {
    .docCards {
        width: 80%;
        text-align: center;
    }

    .textContent {
        margin: 0 auto;
    }
}

@media (max-width: 650px) and (min-width: 481px) {
    .docCards {
        width: 70%;
        text-align: center;
        display: block;
    }

    .textContent {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .docCards {
        width: 75%;
        text-align: center;
    }

    .textContent {
        margin: 0 auto;
    }
}

.docCards h3 {
    margin-left: -1px;
}

.docCards p {
    color: #a0a0a0;
    font-size: 12px;
}

.docCards:hover {
    border: 2px solid #f0c900;
    transform: scale(1.02);
}