.SideMenuContainer, .SideMenuModalContainer {
    box-sizing: border-box;
    background-color: #fff;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.SideMenuContainer {
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
    border: 1px solid rgba(0,0,0,0.16);
}

.SideMenuModalContainer {
    z-index: 10001;
    transition: .35s;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-500%);
}

.SideMenuContainer ul, .SideMenuModalContainer ul {
    list-style: none;
}

.SideMenuContainer li:not(:first-child), .SideMenuModalContainer li:not(:first-child) {
    padding-top: 7px;
}

.SideMenuContainer li, .SideMenuModalContainer li {
    display: flex;
    align-items: center;
}

.SideMenuContainer li img, .SideMenuModalContainer li img {
    height: 20px;
    padding-right: 10px;
}

.SideMenuContainer h4, .SideMenuModalContainer h4 {
    padding-top: 20px;
}

.scrollableList li {
    color: #232323;
    font-weight: 300;
}

.SideMenuContainer li:hover, .SideMenuModalContainer li:hover {
    cursor: pointer;
    font-weight: 400;
}

.backdrop {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.85);
    z-index: 10000;
    backdrop-filter: blur(3px);
    display: none;
    cursor: pointer;
    transition: .15s;
}

.backdrop:hover {
    backdrop-filter: blur(1px);
    background:rgba(0, 0, 0, 0.8);
}

.showMenuBackdrop, .showMenuContent {
    display: flex;
    transform: translateX(0%);
}

