click>=8.0.4
Flask>=2.1.2
Flask-Cors>=3.0.9
Flask-OIDC>=1.0.3
Flask-RESTful>=0.3.10
Flask-SQLAlchemy>=3.0.2
CacheControl>=0.12.6
flasgger>=0.9.4
google-cloud-storage>=1.31.0
gunicorn>=19.9.0
itsdangerous>=2.0
MarkupSafe>=2.0
pdf2image>=1.14.0
Pillow
python-slugify>=4.0.1
werkzeug>=2.0.2
jinja2>=3.0.3
