flask==1.0.3
Flask-SQLAlchemy==2.4.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
gunicorn==19.9.0
Pillow>=8.1.1
itsdangerous==1.1.0
flasgger==0.9.4
google-cloud-storage==1.31.0
CacheControl==0.12.6
python-slugify==4.0.1