.Table {
    text-align: left;
    border-collapse: separate; 
    border-spacing: 0 0px;
    user-select: none;
}

.Table th {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 0.8rem;
    color: #9b9b9b;
    padding: 0px 20px;
}

.Table tr td {
    background-color: #fff;
    transition: .2s;
    max-width: 175px;
    padding: 7px 20px;
}

.Table tbody tr:hover td {
    cursor: pointer;
    background-color: #dadada;
}

.Table tr:first-child td {
    border-top: 5px solid #f0f0f0;
}

.Table tr:not(:first-child) td {
    border-bottom: 10px solid #f0f0f0;
    border-top: 10px solid #f0f0f0;
    
}
