.startpage {
    background-image: url("header1.jpg");
    background-size: 100%;
}

.start_picture {
    padding-top: 15%;
}


.start_text {
    color: white;
    font-size: 25px;
}

.start_text_medieteknik {
    color:  #EEC912;
    font-size: 75px;
}

.start_info_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 10%;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top:1%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }
  .grid-item {
    text-align: center;
    margin-left: 5%;
  }

